<div class="row">
  <%= form_with(model: [:administrate, category], class: "form", id: "category-form") do |form| %>
    <div class="input-row">
      <div class="input-container">
        <%= form.label :name, class: "label" %>
        <%= form.text_field :name, disabled: (params[:action] == "show"), placeholder: "Digite aqui o nome da categoria", class: "input" %>
      </div>
    </div>
  <% end %>
</div>